# Data For Good 
Written by Team 30 - Aida Hasanova and Gabin Foche

The file mainly consists of data cleaning. For data analysis, please refer to Power BI document.

In [1]:
import pandas as pd

In [2]:
dfc=pd.read_csv("FFG_Hackathon_Country_Level_Data.csv")
dfc.head()

,Year,Country Name,Country Code,AG.LND.AGRI.K2,AG.LND.TOTL.K2,AG.SRF.TOTL.K2,EG.ELC.COAL.ZS,EG.ELC.FOSL.ZS,EG.ELC.HYRO.ZS,EG.ELC.NGAS.ZS,...,EN.ATM.CO2E.SF.ZS,EN.CO2.BLDG.ZS,EN.CO2.ETOT.ZS,EN.CO2.MANF.ZS,EN.CO2.OTHX.ZS,EN.CO2.TRAN.ZS,EN.POP.DNST,NY.GDP.TOTL.RT.ZS,SP.RUR.TOTL,SP.URB.TOTL
0,2007,Albania,ALB,11190.00,27400.0,28750.0,0.000000,2.517483,97.482517,0.000000,...,1.867414,7.407407,8.730159,16.931217,11.640212,55.555556,108.394781,1.761086,1517619.0,1452398.0
1,2007,Algeria,DZA,412520.00,2381740.0,2381740.0,0.000000,99.392408,0.607592,97.257770,...,2.755153,16.028285,40.011786,11.455510,0.000000,32.516205,14.345383,32.464934,11839539.0,22327433.0
2,2007,Angola,AGO,508468.17,1246700.0,1246700.0,0.000000,22.381100,77.618900,0.000000,...,0.000000,23.858921,12.344398,23.547718,0.311203,40.041494,16.768559,46.279012,8879762.0,12025601.0
3,2007,Argentina,ARG,1440330.00,2736690.0,2780400.0,2.179398,63.438998,28.270726,51.046874,...,2.091227,14.616174,33.816513,20.510962,5.405569,25.644742,14.500837,4.995813,3823185.0,35861110.0
4,2007,Armenia,ARM,17519.00,28470.0,29740.0,0.000000,25.245846,31.417430,25.245846,...,0.145033,22.291667,22.500000,24.375000,8.750000,22.083333,103.007306,0.009296,1063397.0,1869221.0

In [3]:
dfc=dfc.fillna(dfc.groupby("Country Name").mean())
dfc.to_csv("groupby.csv")

In [4]:
dfr=pd.read_csv("FFG_Hackathon_Region_Level_Data.csv")
dfr.head()

,Year,Region Name,Region Code,AG.LND.AGRI.K2,AG.LND.TOTL.K2,AG.SRF.TOTL.K2,EG.ELC.COAL.ZS,EG.ELC.FOSL.ZS,EG.ELC.HYRO.ZS,EG.ELC.NGAS.ZS,...,EN.ATM.CO2E.SF.ZS,EN.CO2.BLDG.ZS,EN.CO2.ETOT.ZS,EN.CO2.MANF.ZS,EN.CO2.OTHX.ZS,EN.CO2.TRAN.ZS,EN.POP.DNST,NY.GDP.TOTL.RT.ZS,SP.RUR.TOTL,SP.URB.TOTL
0,2007,Arab World,ARB,4.100190e+06,11235331.0,11291048.90,1.762740,89.984788,3.963724,61.248601,...,1.620960,5.650951,46.898082,20.719009,1.564072,25.168746,29.397506,33.493019,148138437,182152279
1,2007,Central Europe and the Baltics,CEB,5.335050e+05,1103146.0,1134949.00,56.834086,68.004595,8.193398,9.389400,...,54.898725,12.008253,54.620856,14.253523,2.264274,16.850379,95.525658,1.040325,40210586,65168162
2,2007,Early-demographic dividend,EAR,1.358708e+07,33238064.3,34138970.28,32.421922,77.757311,17.324979,32.495198,...,31.617409,10.535275,46.186588,19.464848,3.102839,20.709016,83.546457,11.420924,1642568366,1134354137
3,2007,East Asia & Pacific,EAS,1.186039e+07,24423314.2,24861936.20,60.577680,77.822185,11.254810,12.818944,...,62.028463,6.692401,51.070526,28.415529,2.080749,11.740694,88.513195,3.139450,1105876303,1055909270
4,2007,East Asia & Pacific (IDA & IBRD countries),TEA,7.659722e+06,15830280.0,16187472.00,73.755915,82.808673,14.320835,6.924162,...,68.219112,6.129646,50.190863,31.844113,2.335515,9.499457,120.010545,6.815940,1061903356,837897174

In [5]:
dfr["Region Name"].unique()

array(['Arab World', 'Central Europe and the Baltics',
       'Early-demographic dividend', 'East Asia & Pacific',
       'East Asia & Pacific (IDA & IBRD countries)',
       'East Asia & Pacific (excluding high income)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (IDA & IBRD countries)',
       'Europe & Central Asia (excluding high income)', 'European Union',
       'Fragile and conflict affected situations', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA total',
       'Late-demographic dividend', 'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Low & middle income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'North America', 'OECD members',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'South Asia', 'South Asia (IDA & IBRD)', 'Sub-Saharan Africa',
       'Sub-Saharan Africa (IDA & IBRD countries)',
       'Sub-Saharan Africa (excluding high income)',
       'Upper middle income', 'World'], dtype=object)

In [6]:
dfc.columns

Index(['Year', 'Country Name', 'Country Code', 'AG.LND.AGRI.K2',
       'AG.LND.TOTL.K2', 'AG.SRF.TOTL.K2', 'EG.ELC.COAL.ZS', 'EG.ELC.FOSL.ZS',
       'EG.ELC.HYRO.ZS', 'EG.ELC.NGAS.ZS', 'EG.ELC.NUCL.ZS', 'EG.ELC.PETR.ZS',
       'EG.ELC.RNEW.ZS', 'EG.ELC.RNWX.KH', 'EG.ELC.RNWX.ZS', 'EG.FEC.RNEW.ZS',
       'EG.GDP.PUSE.KO.PP', 'EG.USE.COMM.CL.ZS', 'EG.USE.COMM.FO.ZS',
       'EG.USE.ELEC.KH.PC', 'EN.ATM.CO2E.GF.KT', 'EN.ATM.CO2E.GF.ZS',
       'EN.ATM.CO2E.KT', 'EN.ATM.CO2E.LF.KT', 'EN.ATM.CO2E.LF.ZS',
       'EN.ATM.CO2E.PC', 'EN.ATM.CO2E.PP.GD', 'EN.ATM.CO2E.SF.KT',
       'EN.ATM.CO2E.SF.ZS', 'EN.CO2.BLDG.ZS', 'EN.CO2.ETOT.ZS',
       'EN.CO2.MANF.ZS', 'EN.CO2.OTHX.ZS', 'EN.CO2.TRAN.ZS', 'EN.POP.DNST',
       'NY.GDP.TOTL.RT.ZS', 'SP.RUR.TOTL', 'SP.URB.TOTL'],
      dtype='object')

In [7]:
dfc2=dfc[['Year', 'Country Name','AG.LND.TOTL.K2','EG.USE.COMM.CL.ZS', 'EN.ATM.CO2E.PP.GD',
          'EN.CO2.ETOT.ZS','EN.ATM.CO2E.LF.ZS',
         'EN.ATM.CO2E.GF.ZS','EN.CO2.MANF.ZS','EN.CO2.OTHX.ZS','EN.CO2.BLDG.ZS','EN.ATM.CO2E.SF.ZS',
          'EN.CO2.TRAN.ZS',
         'EG.ELC.COAL.ZS', 'EG.ELC.FOSL.ZS', 'EG.ELC.HYRO.ZS', 'EG.ELC.NGAS.ZS', 'EG.ELC.NUCL.ZS', 'EG.ELC.PETR.ZS',
         'EG.ELC.RNEW.ZS','EG.ELC.RNWX.ZS', 'EG.GDP.PUSE.KO.PP','EG.USE.COMM.FO.ZS', 'EN.ATM.CO2E.GF.KT', 
         'EN.ATM.CO2E.KT', 'EN.ATM.CO2E.LF.KT',  'EN.ATM.CO2E.PC', 'EN.ATM.CO2E.SF.KT', 'EN.POP.DNST',
         'NY.GDP.TOTL.RT.ZS', 'SP.RUR.TOTL','SP.URB.TOTL']]

In [8]:
dfc2["Electric_Prod"]=dfc2['EG.ELC.COAL.ZS']+dfc2['EG.ELC.HYRO.ZS']+dfc2['EG.ELC.NGAS.ZS']+dfc2['EG.ELC.NUCL.ZS']
+dfc2['EG.ELC.PETR.ZS']+dfc2['EG.ELC.FOSL.ZS']+dfc2['EG.ELC.RNWX.ZS']
dfc2.columns

<ipython-input-8-4e9ba10f425b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfc2["Electric_Prod"]=dfc2['EG.ELC.COAL.ZS']+dfc2['EG.ELC.HYRO.ZS']+dfc2['EG.ELC.NGAS.ZS']+dfc2['EG.ELC.NUCL.ZS']

Index(['Year', 'Country Name', 'AG.LND.TOTL.K2', 'EG.USE.COMM.CL.ZS',
       'EN.ATM.CO2E.PP.GD', 'EN.CO2.ETOT.ZS', 'EN.ATM.CO2E.LF.ZS',
       'EN.ATM.CO2E.GF.ZS', 'EN.CO2.MANF.ZS', 'EN.CO2.OTHX.ZS',
       'EN.CO2.BLDG.ZS', 'EN.ATM.CO2E.SF.ZS', 'EN.CO2.TRAN.ZS',
       'EG.ELC.COAL.ZS', 'EG.ELC.FOSL.ZS', 'EG.ELC.HYRO.ZS', 'EG.ELC.NGAS.ZS',
       'EG.ELC.NUCL.ZS', 'EG.ELC.PETR.ZS', 'EG.ELC.RNEW.ZS', 'EG.ELC.RNWX.ZS',
       'EG.GDP.PUSE.KO.PP', 'EG.USE.COMM.FO.ZS', 'EN.ATM.CO2E.GF.KT',
       'EN.ATM.CO2E.KT', 'EN.ATM.CO2E.LF.KT', 'EN.ATM.CO2E.PC',
       'EN.ATM.CO2E.SF.KT', 'EN.POP.DNST', 'NY.GDP.TOTL.RT.ZS', 'SP.RUR.TOTL',
       'SP.URB.TOTL', 'Electric_Prod'],
      dtype='object')

In [9]:
dfc2=dfc2[['Year','Country Name', 'AG.LND.TOTL.K2', 'EG.USE.COMM.CL.ZS', 'EN.ATM.CO2E.PP.GD',
       'EN.CO2.ETOT.ZS', 'EN.ATM.CO2E.LF.ZS', 'EN.ATM.CO2E.GF.ZS',
       'EN.CO2.MANF.ZS', 'EN.CO2.OTHX.ZS', 'EN.CO2.BLDG.ZS',
       'EN.ATM.CO2E.SF.ZS', 'EN.CO2.TRAN.ZS',
        'EG.ELC.RNEW.ZS',
       'EG.GDP.PUSE.KO.PP', 'EG.USE.COMM.FO.ZS', 'EN.ATM.CO2E.GF.KT',
       'EN.ATM.CO2E.KT', 'EN.ATM.CO2E.LF.KT', 'EN.ATM.CO2E.PC',
       'EN.ATM.CO2E.SF.KT', 'EN.POP.DNST', 'NY.GDP.TOTL.RT.ZS', 'SP.RUR.TOTL',
       'SP.URB.TOTL', 'Electric_Prod' ]]
dfc2.head()

,Year,Country Name,AG.LND.TOTL.K2,EG.USE.COMM.CL.ZS,EN.ATM.CO2E.PP.GD,EN.CO2.ETOT.ZS,EN.ATM.CO2E.LF.ZS,EN.ATM.CO2E.GF.ZS,EN.CO2.MANF.ZS,EN.CO2.OTHX.ZS,...,EN.ATM.CO2E.GF.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.LF.KT,EN.ATM.CO2E.PC,EN.ATM.CO2E.SF.KT,EN.POP.DNST,NY.GDP.TOTL.RT.ZS,SP.RUR.TOTL,SP.URB.TOTL,Electric_Prod
0,2007,Albania,27400.0,15.549632,0.181776,8.730159,86.087768,0.840336,16.931217,11.640212,...,33.003,3927.357,3380.974,1.322335,73.340,108.394781,1.761086,1517619.0,1452398.0,97.482517
1,2007,Algeria,2381740.0,0.039704,0.260097,40.011786,35.056142,46.723647,11.455510,0.000000,...,51117.980,109404.945,38353.153,3.202067,3014.274,14.345383,32.464934,11839539.0,22327433.0,97.865362
2,2007,Angola,1246700.0,1.776957,0.198845,12.344398,35.019682,6.342032,23.547718,0.311203,...,1595.145,25151.953,8808.134,1.203134,0.000,16.768559,46.279012,8879762.0,12025601.0,77.618900
3,2007,Argentina,2736690.0,5.774868,0.266400,33.816513,44.535388,49.806368,20.510962,5.405569,...,87248.931,175176.257,78015.425,4.414246,3663.333,14.500837,4.995813,3823185.0,35861110.0,88.215799
4,2007,Armenia,28470.0,27.842652,0.228338,22.500000,18.274112,74.401740,24.375000,8.750000,...,3762.342,5056.793,924.084,1.724327,7.334,103.007306,0.009296,1063397.0,1869221.0,99.949135

In [10]:
dfc2.columns

Index(['Year', 'Country Name', 'AG.LND.TOTL.K2', 'EG.USE.COMM.CL.ZS',
       'EN.ATM.CO2E.PP.GD', 'EN.CO2.ETOT.ZS', 'EN.ATM.CO2E.LF.ZS',
       'EN.ATM.CO2E.GF.ZS', 'EN.CO2.MANF.ZS', 'EN.CO2.OTHX.ZS',
       'EN.CO2.BLDG.ZS', 'EN.ATM.CO2E.SF.ZS', 'EN.CO2.TRAN.ZS',
       'EG.ELC.RNEW.ZS', 'EG.GDP.PUSE.KO.PP', 'EG.USE.COMM.FO.ZS',
       'EN.ATM.CO2E.GF.KT', 'EN.ATM.CO2E.KT', 'EN.ATM.CO2E.LF.KT',
       'EN.ATM.CO2E.PC', 'EN.ATM.CO2E.SF.KT', 'EN.POP.DNST',
       'NY.GDP.TOTL.RT.ZS', 'SP.RUR.TOTL', 'SP.URB.TOTL', 'Electric_Prod'],
      dtype='object')

In [11]:
dfc2["CO2"]=dfc2["EN.CO2.ETOT.ZS"]+dfc2["EN.ATM.CO2E.GF.ZS"]+dfc2["EN.ATM.CO2E.LF.ZS"]+dfc2["EN.CO2.MANF.ZS"]
+dfc2["EN.CO2.OTHX.ZS"]+dfc2["EN.CO2.BLDG.ZS"]+dfc2["EN.ATM.CO2E.SF.ZS"]+dfc2["EN.CO2.TRAN.ZS"]
dfc2.head()

,Year,Country Name,AG.LND.TOTL.K2,EG.USE.COMM.CL.ZS,EN.ATM.CO2E.PP.GD,EN.CO2.ETOT.ZS,EN.ATM.CO2E.LF.ZS,EN.ATM.CO2E.GF.ZS,EN.CO2.MANF.ZS,EN.CO2.OTHX.ZS,...,EN.ATM.CO2E.KT,EN.ATM.CO2E.LF.KT,EN.ATM.CO2E.PC,EN.ATM.CO2E.SF.KT,EN.POP.DNST,NY.GDP.TOTL.RT.ZS,SP.RUR.TOTL,SP.URB.TOTL,Electric_Prod,CO2
0,2007,Albania,27400.0,15.549632,0.181776,8.730159,86.087768,0.840336,16.931217,11.640212,...,3927.357,3380.974,1.322335,73.340,108.394781,1.761086,1517619.0,1452398.0,97.482517,112.589480
1,2007,Algeria,2381740.0,0.039704,0.260097,40.011786,35.056142,46.723647,11.455510,0.000000,...,109404.945,38353.153,3.202067,3014.274,14.345383,32.464934,11839539.0,22327433.0,97.865362,133.247084
2,2007,Angola,1246700.0,1.776957,0.198845,12.344398,35.019682,6.342032,23.547718,0.311203,...,25151.953,8808.134,1.203134,0.000,16.768559,46.279012,8879762.0,12025601.0,77.618900,77.253831
3,2007,Argentina,2736690.0,5.774868,0.266400,33.816513,44.535388,49.806368,20.510962,5.405569,...,175176.257,78015.425,4.414246,3663.333,14.500837,4.995813,3823185.0,35861110.0,88.215799,148.669230
4,2007,Armenia,28470.0,27.842652,0.228338,22.500000,18.274112,74.401740,24.375000,8.750000,...,5056.793,924.084,1.724327,7.334,103.007306,0.009296,1063397.0,1869221.0,99.949135,139.550852

In [12]:
dfc2.columns

Index(['Year', 'Country Name', 'AG.LND.TOTL.K2', 'EG.USE.COMM.CL.ZS',
       'EN.ATM.CO2E.PP.GD', 'EN.CO2.ETOT.ZS', 'EN.ATM.CO2E.LF.ZS',
       'EN.ATM.CO2E.GF.ZS', 'EN.CO2.MANF.ZS', 'EN.CO2.OTHX.ZS',
       'EN.CO2.BLDG.ZS', 'EN.ATM.CO2E.SF.ZS', 'EN.CO2.TRAN.ZS',
       'EG.ELC.RNEW.ZS', 'EG.GDP.PUSE.KO.PP', 'EG.USE.COMM.FO.ZS',
       'EN.ATM.CO2E.GF.KT', 'EN.ATM.CO2E.KT', 'EN.ATM.CO2E.LF.KT',
       'EN.ATM.CO2E.PC', 'EN.ATM.CO2E.SF.KT', 'EN.POP.DNST',
       'NY.GDP.TOTL.RT.ZS', 'SP.RUR.TOTL', 'SP.URB.TOTL', 'Electric_Prod',
       'CO2'],
      dtype='object')

In [13]:
dfc2=dfc2[['Year','Country Name', 'AG.LND.TOTL.K2', 'EG.USE.COMM.CL.ZS', 'EN.ATM.CO2E.PP.GD',
       'EG.ELC.RNEW.ZS',
       'EG.GDP.PUSE.KO.PP', 'EG.USE.COMM.FO.ZS', 'EN.ATM.CO2E.GF.KT',
       'EN.ATM.CO2E.KT', 'EN.ATM.CO2E.LF.KT', 'EN.ATM.CO2E.PC',
       'EN.ATM.CO2E.SF.KT', 'EN.POP.DNST', 'NY.GDP.TOTL.RT.ZS', 'SP.RUR.TOTL',
       'SP.URB.TOTL', 'Electric_Prod', 'CO2']]

In [14]:
dfc2.columns

Index(['Year', 'Country Name', 'AG.LND.TOTL.K2', 'EG.USE.COMM.CL.ZS',
       'EN.ATM.CO2E.PP.GD', 'EG.ELC.RNEW.ZS', 'EG.GDP.PUSE.KO.PP',
       'EG.USE.COMM.FO.ZS', 'EN.ATM.CO2E.GF.KT', 'EN.ATM.CO2E.KT',
       'EN.ATM.CO2E.LF.KT', 'EN.ATM.CO2E.PC', 'EN.ATM.CO2E.SF.KT',
       'EN.POP.DNST', 'NY.GDP.TOTL.RT.ZS', 'SP.RUR.TOTL', 'SP.URB.TOTL',
       'Electric_Prod', 'CO2'],
      dtype='object')

In [15]:
dfc2["Population"]=dfc2["SP.RUR.TOTL"]+dfc2["SP.URB.TOTL"]
dfc2.columns

Index(['Year', 'Country Name', 'AG.LND.TOTL.K2', 'EG.USE.COMM.CL.ZS',
       'EN.ATM.CO2E.PP.GD', 'EG.ELC.RNEW.ZS', 'EG.GDP.PUSE.KO.PP',
       'EG.USE.COMM.FO.ZS', 'EN.ATM.CO2E.GF.KT', 'EN.ATM.CO2E.KT',
       'EN.ATM.CO2E.LF.KT', 'EN.ATM.CO2E.PC', 'EN.ATM.CO2E.SF.KT',
       'EN.POP.DNST', 'NY.GDP.TOTL.RT.ZS', 'SP.RUR.TOTL', 'SP.URB.TOTL',
       'Electric_Prod', 'CO2', 'Population'],
      dtype='object')

In [16]:
dfc2=dfc2[['Year','Country Name', 'AG.LND.TOTL.K2', 'EG.USE.COMM.CL.ZS', 'EN.ATM.CO2E.PP.GD',
       'EG.ELC.RNEW.ZS', 'EG.GDP.PUSE.KO.PP', 'EG.USE.COMM.FO.ZS',
       'EN.ATM.CO2E.GF.KT', 'EN.ATM.CO2E.KT', 'EN.ATM.CO2E.LF.KT',
       'EN.ATM.CO2E.PC', 'EN.ATM.CO2E.SF.KT', 'EN.POP.DNST',
       'NY.GDP.TOTL.RT.ZS', 'Electric_Prod',
       'CO2', 'Population']]
dfc2.head()

,Year,Country Name,AG.LND.TOTL.K2,EG.USE.COMM.CL.ZS,EN.ATM.CO2E.PP.GD,EG.ELC.RNEW.ZS,EG.GDP.PUSE.KO.PP,EG.USE.COMM.FO.ZS,EN.ATM.CO2E.GF.KT,EN.ATM.CO2E.KT,EN.ATM.CO2E.LF.KT,EN.ATM.CO2E.PC,EN.ATM.CO2E.SF.KT,EN.POP.DNST,NY.GDP.TOTL.RT.ZS,Electric_Prod,CO2,Population
0,2007,Albania,27400.0,15.549632,0.181776,97.482517,10.700006,65.122392,33.003,3927.357,3380.974,1.322335,73.340,108.394781,1.761086,97.482517,112.589480,2970017.0
1,2007,Algeria,2381740.0,0.039704,0.260097,0.607592,11.418314,99.752084,51117.980,109404.945,38353.153,3.202067,3014.274,14.345383,32.464934,97.865362,133.247084,34166972.0
2,2007,Angola,1246700.0,1.776957,0.198845,77.618900,12.827400,34.742476,1595.145,25151.953,8808.134,1.203134,0.000,16.768559,46.279012,77.618900,77.253831,20905363.0
3,2007,Argentina,2736690.0,5.774868,0.266400,29.842201,8.916315,89.225378,87248.931,175176.257,78015.425,4.414246,3663.333,14.500837,4.995813,88.215799,148.669230,39684295.0
4,2007,Armenia,28470.0,27.842652,0.228338,31.468294,7.762797,70.552564,3762.342,5056.793,924.084,1.724327,7.334,103.007306,0.009296,99.949135,139.550852,2932618.0

In [17]:
dfc2.groupby("Country Name").CO2.mean()

Country Name
Albania           99.971716
Algeria          133.693991
Angola            81.348423
Argentina        148.401355
Armenia          133.333677
                    ...
Venezuela, RB    152.088398
Vietnam          110.141420
Yemen, Rep.      140.736072
Zambia           120.939446
Zimbabwe          91.653472
Name: CO2, Length: 131, dtype: float64

In [18]:
dfc2.sort_values(by=["Country Name","Electric_Prod"])
dfc2["Country Name", "CO2"].mean()

KeyError: ('Country Name', 'CO2')

In [ ]:
dfc2.info()

In [ ]:
dfc2=dfc2.fillna(dfc2.groupby("Country Name").mean())
dfc2.head()

In [ ]:
dfc2.info()

In [ ]:
import seaborn as sns
sns.lmplot(x="CO2", y="Electric_Prod", hue="Country Name", data=dfc2)